<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Manage Clients</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>
<div th:switch="${commandes}" style="margin:auto 5%">
    <h2 th:case="null">No Order for this client yet!</h2>
        <div th:case="*">
            <h2>Orders</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Order Number</th>
                        <th>Order Name</th>
                        <th>Order type</th>
                        <th>Edit</th>
                        <th>Delete</th>
                       
                    </tr>
                </thead>
                <tbody>
                <tr th:each="commande : ${commandes}">
                    <td th:text="${commande.numero_command}"></td>
                    <td th:text="${commande.nom_commande}"></td>
                     <td th:text="${commande.type_command}"></td>
                    <td><a th:href="@{/editClient/{id}(id=${commande.numero_command})}">Edit</a></td>
                    <td><a th:href="@{/removeCommande/{numero_commande}(numero_command=${commande.numero_command})}">Delete</a></td>

                </tr>
            </tbody>
        </table>
    </div>      
    <p><a th:href="@{/commandeForm/{id}(id=${clientId})}">Add a new order for this client</a></p>
    <p><a href="/">Go back to the list of clients</a></p>

</div>
</body>
</html>